.buttons{
    display: inline;
}

.button-component {
    margin: 20px;
    padding: 5px;
}

h2 {
    float: left;
}

p.resultText {
    float: left;
    position: relative;
    left: 25px;
    margin: 25px 2px 5px 2px;
}