.buttons{
    display: inline;
}

.button-component {
    margin: 20px;
    padding: 5px;
}

h2#Result-Text {
    float: left;
}

div.score-counter {
    display: block;
    position: absolute;
    top: 130px;
}

div.conclusion {
    position: absolute;
    top: 180px;
    text-align: center;
}

h3 {
    margin-top: 4px;
    margin-bottom: 4px;
}

p.resultText {
    float: left;
    position: relative;
    left: 25px;
    margin: 25px 2px 5px 2px;
}